---

import Navigation from '../components/Navigation.astro';
import Footer from '../components/footer.astro';
import MidleBanner from '../components/MidleBanner.astro';

import '../styles/global.css';
import '../styles/Finanzaspage.css';
import '../styles/pruebas.css'

const { pageTitle } = Astro.props;
const blogs = await Astro.glob('../pages/finanzas/*.md');

const sortedFiles = blogs.sort((a, b) => {
  const bDate = new Date(a.frontmatter.pubDate);
  const aDate = new Date(b.frontmatter.pubDate);

  return aDate - bDate;
});

---

<html lang="es">
	<head>
        <!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=MEASUREMENT_ID"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E2NHX0J9W9');
</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="UTF-8">
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		
		<style>
            @import url('https://fonts.cdnfonts.com/css/helvetica-255');
            </style>
		<title>Finanzas | Plankton News</title>
        <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/AntonioHerrera1994/news-astro/master/favpw.ico">
        <meta name="description" content="En Plankton News mantente informado de las ultimas noticias del mundo de las finanzas.">
        <slot />
	</head>
	<body>
		
	
		<Navigation />
        <section class="banner-pw">
        <div class="banner-pw-content">
        <div class="banner-pw-grid">

            <div >
                <h1>Finanzas</h1>
                <p>Entérate de las últimas noticias antes que nadie</p>
            </div>

            <div></div>
        </div>
        </div>
        </section>

        <section class="body-pw">
            <div class="body-pw-content">
                <p class="breadcrumbs"> <a href="/#">Inicio</a> / Finanzas</p>

            </div>

            <section class="blog-section" id="blog-section">
                <div class="grid-cont">
                
                  <ul class="blogs">
                    {blogs.map((blog) =>
                      <li>
                        <article class="blog">          
                          <img src={blog.frontmatter.image.url} alt="blog.frontmatter.image.alt" width="100%"/>
                          <a href={blog.url} class=""><h3>{blog.frontmatter.title}</h3></a>
                          <h4>{blog.frontmatter.date} | {blog.frontmatter.author}</h4>
                          <p>{blog.frontmatter.description}</p>
                          
                        </article>            
                      </li>
                    )}
                  </ul>
                </div>
              </section>

            <!-- <section class="tecnologia">
                <div class="tec-cont">
                    <div class="tec-grid">

                        <div class="tec-post">
                            <div class="tec-ten-image"></div>
                            <h1>{tenpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{tenpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{tenpost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-nine-image"></div>
                            <h1>{ninepost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{ninepost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{ninepost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-five-image"></div>
                            <h1>{fivepost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{fivepost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{fivepost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-first-image"></div>
                            <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Firstpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Firstpost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-second-image"></div>
                            <h1>{Secondtpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Secondtpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Secondtpost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-third-image"></div>
                            <h1>{Thirdpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Thirdpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Thirdpost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-four-image"></div>
                            <h1>{Fourpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Fourpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Fourpost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-six-image"></div>
                            <h1>{Sixpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Sixpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Sixpost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
                        </div>

                        <div class="tec-post">
                            <div class="tec-seven-image"></div>
                            <h1>{Sevenpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Sevenpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Sevenpost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
                        </div>
                        
                        <div class="tec-post">
                            <div class="tec-eight-image"></div>
                            <h1>{Eightpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                            <p>{Eightpost.map((post) =><p>{post.frontmatter.description}</p>)}</p>
                            <h4>{Eightpost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
                        </div>

                    </div>
                </div>
            </section>
        </section>-->
        <MidleBanner />
		<Footer />
		
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
  </html>
	</body>
</html>