---
const blogs = await Astro.glob('../pages/*/*.md');

const sortedFiles = blogs.sort((a, b) => {
  const bDate = new Date(a.frontmatter.pubDate);
  const aDate = new Date(b.frontmatter.pubDate);

  return aDate - bDate;
});

const AnalisisFirst = await Astro.glob('../pages/analisis-financiero/perspectivas-cautelosas-del-mercado-de-valores-en-mexico.md');
const AnalisisSecond = await Astro.glob('../pages/analisis-financiero/analisis-del-tipo-de-cambio.md');
const AnalisisThird = await Astro.glob('../pages/analisis-financiero/femsa-forward-planea-invertir-170000-millones-de-pesos-en-mexico.md');
const AnalisisFour = await Astro.glob('../pages/analisis-financiero/los-precios-del-petroleo-se-mantienen-estables.md');

import '../styles/mainhead.css'


---

<div class="maninhead">
    <div class="main-cont">


<section class="blog-section2" id="blog-section2">
  <div class="grid-cont-head2">

    <div class="izq-grid2-mainhead">
    <ul class="blogs1head">
      {blogs.slice(0, 1).map((blog) => (
        <li>
          <article class="blog">

            <a href={blog.url} class=""><h3>{blog.frontmatter.title}</h3></a>
            <p>{blog.frontmatter.description}</p>
            <h4 >{blog.frontmatter.author} | {blog.frontmatter.date} | {blog.frontmatter.category}</h4>
          </article>
        </li>
      ))}
    </ul>

    <div class="containerhead">
    <ul class="blogs2head">
      {blogs.slice(0, 1).map((blog) => (
        <li>
          <article class="blog-image">
       
            <img src={blog.frontmatter.image.url} alt="blog.frontmatter.image.alt" class="img-centralhead"/>
            
          </article>
        </li>
      ))}
    </ul>
    </div>
  </div>

    <ul class="blogs3head">
      {blogs.slice(1, 5).map((blog) => (
        <li>
          <article class="blog-grid-righthead">
            <div>
            
            <img src={blog.frontmatter.image.url} alt="blog.frontmatter.image.alt" width="100%" />
          </div>

          <div class="meta-grid-3head">
            <h4 >{blog.frontmatter.author} | {blog.frontmatter.date}</h4>
            <a href={blog.url} class=""><h3>{blog.frontmatter.title}</h3></a>
           <h4>{blog.frontmatter.category}</h4>
          </div>
          </article>
        </li>
      ))}
    </ul>


  </div>
</section>
    </div>
</div>

<!-- <section class="news">
    <div class="news-cont">
        <div class="news-grid">
            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{AnalisisFirst.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.date}</p>)}</h4>
                    <h2>{AnalisisFirst.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{AnalisisFirst.map((post) =><p>{post.frontmatter.category}</p>)}</h4>
                </div>
            </div>

            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{AnalisisSecond.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.date}</p>)}</h4>
                    <h2>{AnalisisSecond.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{AnalisisSecond.map((post) =><p>{post.frontmatter.category}</p>)}</h4>
                </div>
            </div>

            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{AnalisisThird.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.date}</p>)}</h4>
                    <h2>{AnalisisThird.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{AnalisisThird.map((post) =><p>{post.frontmatter.category}</p>)}</h4>
                </div>
            </div>

            <div class="postnews-grid">
                <div class="data">
                    <h4 class="meta">{AnalisisFour.map((post) =><p>{post.frontmatter.author} | {post.frontmatter.date}</p>)}</h4>
                    <h2>{AnalisisFour.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h2>
                    <h4>{AnalisisFour.map((post) =><p>{post.frontmatter.category}</p>)}</h4>
                </div>
            </div>
        </div>
    </div>
</section> -->

